.team-logo {
    height: 250px;
    border: lightblue 10px solid;
}

.activity-container{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.activity-buttoncontainer{
    display: flex;
    justify-content: flex-end;
}
.activity-buttoncontainer > button {
    margin: 0 3vw;
}